@media (max-width: 1000px) {
    .menu {
        margin-left: 10px;
    }

    .menu a {
        font-size: 15px;
        margin: 10px;
    }

    .header-right {
        margin-right: 5%;
    }

    .heading {
        width: 50%;
        margin-left: 0;
        max-width: 800px;
        height: auto;
    }

    .heading h1 {
        font-size: 25px;
        width: 80%;
    }

    .heading p {
        font-size: 12px;
        line-height: 20px;
    }

    .main-image {
        margin: 0;
        width: 50%;
        position: relative;
        top: 50px;
        max-width: 800px;
    }

    .subs-form {
        padding: 10px;
    }
}

@media (max-width: 670px) {
}

/* Footer */

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }
