@media (max-width: 1000px) {
    .menu {
        margin-left: 10px;
    }

    .menu a {
        font-size: 15px;
        margin: 10px;
    }

    .header-right {
        margin-right: 5%;
    }

    .heading {
        width: 50%;
        margin-left: 0;
        max-width: 800px;
        height: auto;
    }

    .heading h1 {
        font-size: 25px;
        width: 80%;
    }

    .heading p {
        font-size: 12px;
        line-height: 20px;
    }

    .main-image {
        margin: 0;
        width: 50%;
        position: relative;
        top: 50px;
        max-width: 800px;
    }

    .subs-form {
        padding: 10px;
    }
}

@media (max-width: 670px) {
}