@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Signika', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    padding: 3% 5%;
    margin: 0 auto;
    width: 100%;
    max-width: 1366px;
}

header {
    background-color: #F6EBE6;
}

.header-left {
    display: flex;
    float: left;
}

.logo {
    height: 40px;
    padding: 5%;
    margin-left: 20%;
}

.logo-img {
    width: 30px;
}

.menu {
    padding-top: 5px;
    font-size: 18px;
    margin-left: 50px;
}

.menu a {
    margin: 0 20px;
}

.header-right {
    float: right;
    margin-right: 8%;
}

.get-started {
    color: black;
    padding: 10px;
    margin-bottom: 100px;
    border-radius: 15px;
    font-size: 25px;
    font-family: 'Caveat', cursive;
    color: #63BFFF;
    transition: all 0.5s;
}

.get-started:hover {
    background-color: #63BFFF;
    color: white;
}

main {
    background-color: #F6EBE6;
}

.main-wrapper {
    display: flex;
}

.heading {
  width: 50%;
  padding: 40px 0 0 30px;
  opacity: 0.8;
}

.heading h1 {
    font-size: 47px;
    color: #4E719A;;
}

.heading p {
    width: 90%;
    margin-top: 10px;
    line-height: 25px;
    color: #495057;;
}

.content {
    flex: 50%;
    margin-top: 10px;
    margin-left: 5px;
}

.main-image {
    width: 100%;
    height: 100%;
}

.subscribe {
    margin-top: 20px;
}

.mobile-subscribe {
    display: none;
    margin: 0 auto;
    width: 100%;
    margin-top: 30px;
}

.subs-form {
    padding: 25px;
    border-radius: 10px;
    border-style: none;
}

#email {
    width: 60%;
    margin-right: 5px;
}

#submit-btn {
    width: 25%;
    background-color: #63BFFF;
    color: white;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.5s;
}

#submit-btn:hover {
    opacity: 1;
}

.clear {
    clear: left;
}

/* ----------------------- Services -------------------------- */

.services {
    background-color: #F2F2F2;
}

.services-item {
    display: flex;
    margin-top: 30px;
}

.heading-services {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.heading-services h1 {
    font-size: 24px;
    color: #403d39;
    font-family: "Poppins", sans-serif;
}

.heading-services p {
    margin: 10px 24%;
    color: #626A72;
    line-height: 25px;
}

.services-item {
    width: 90%;
    margin-left: 50px;
    justify-content: center;
}

.items {
    width: 30%;
    display: flex;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid black;
    color: #F2F2F2;
    border-style: none;
}

.website {
    margin-right: 20px;
    background-color: #34626C;
}

.android {
    margin-right: 20px;
    background-color: #915B4A;
}

.ios {
    background-color: #F67280;
}

.icon {
    width: 20%;
    float: left;
    margin-left: 10px;
}

.item-desc {
    width: 60%;
    flex-direction: column;
    margin-left: 20px;
}

.item-desc p {
    margin-top: 5px;
    opacity: 0.8;
    font-size: 15px;
}

/* -------------------------- Feature ---------------------- */
.feature-wrapper {
    text-align: center;
    background-color: #f0f7f4;
    padding-top: 30px;
    padding-bottom: 30px;
}
.feature {
    display: flex;
    flex-wrap: wrap;
}

.feature-icon {
    width: 33.3%;
    flex: auto;
    padding: 20px 0;
}
.title-section {
    margin-top: 20px;
    color: #403d39;
}

.title-section h2 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

.title-section p {
    padding: 10px 0;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;
}

.feature-icon h4 {
    color: #403d39;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    padding-top: 8px;
    padding-bottom: 10px;
}

.feature-icon p {
    color: #6d6875;
    font-size: 15px;
    margin-bottom: 20px;
}

.learn-more {
    color: #69a9f2;
    font-weight:bolder;
    font-size: 14px;
}

.learn-more:hover {
    color:royalblue;
}

/* Pricing */
.pricing-wrapper {
    background-color: rgba(251,198,135,0.4);
}

.price-content {
    display: flex;
}

.price-left {
    flex: 70%;
    padding: 40px 40px 0 40px;
}

.price {
    display: flex;
}

.card {
    padding: 30px;
    border-radius: 20px;
}

.heading-price {
    width: 70%;
    margin-bottom: 30px;
}

.price-individual {
    margin-right: 30px;
    background-color: rgba(227,246,245, 0.6);
}

.price-company {
    background-color: #206A5D;
    color: #F2F2F2;
}

.price-item {
    margin-bottom: 30px;
    font-size: 30px;
}

.price-item h3 {
    float: left;
}

.price-item p {
    float: right;
}

.list-benefit {
    font-size: 15px;
}

.list-benefit p{
    margin-bottom: 15px;
}

.list-benefit li {
    margin-bottom: 10px;
}

.benefit {
    display: flex;
}

.fas {
    margin-right: 10px;
    padding-top: 2px;
    font-size: 15px;
}

.buy-wrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.buy-wrap p{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 11px;
}

.price-individual a {
    background-color: #BAE8E8;
}

.price-company a {
    color: white;
    background-color: #96BB7C;
}

.buy-btn{
    padding: 10px 30px;
    border-radius: 20px;
}

.price-right {
    flex: 30%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #1A508B;
    color: #F2F2F2;
    border-radius: 20px;
}

.heading-marketting h2{
    font-size: 36px;
    font-weight: normal;
}

.heading-marketting p {
    font-size: 15px;
    margin-top: 15px;
    line-height: 18px;
}

.price-logo {
    margin-top: 50px;
}
/* Footer */

*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
  }
  
  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .logo-footer {
      width: 30%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
    padding-left: 50px;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  
  .copyright {
      padding-top: 10px;
      font-style: normal;
      color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 10px;
    padding: 0 1em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
    flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  /* fontawsome */
  
  .fab, .far{
      padding-right: 5px;
  }
  
  .fa-envelope{
      color: #15aabf;
  }
  
  .fa-facebook{
      color: #4267b2;
  }
  
  .fa-twitter{
      color: #15aabf;
  }
  
  .fa-instagram{
      color: #b82f9f;
  }